*{  
    --body-color: #141933;
    --white-color: white;
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-color: var(--body-color);
    background-image: url('../images/Main/background-i.jpg'); 
    background-blend-mode: overlay;
}

main{
    display: flex;
    margin: 0;
}

a, p{
    text-decoration: none;
    color: var(--white-color);
}

h2, h3, h4{
    color: var(--white-color);
}

.aside-2::-webkit-scrollbar{
    display: none;
}

::-webkit-scrollbar{
    display: none;
}

section{
    margin-top: 2.5rem;
}


/* Common */

.flex{
    display: flex;
}

.jc{
    justify-content: center;
}

.ai{
    align-items: center;
}

section h2{
    margin-bottom: 2.5%;
    font-size: 23px;
}

.latest-songs-div figure, .music-stations img, .playlist-items img, .popular-artist-div img, .queue-items{
    transition: all 1s ease-in-out;
}

.right{
    float: right;
}

.fa-heart:hover{
    color: red;
}

.fa-plus:hover{
    color: yellow;
}


/* Play Button CSS */

.play-but-div{
    opacity: 0;
    position:absolute;
    top: 0%;
    transition: all 1s ease-in-out;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

.play-but-div:hover{
    opacity:0.9;
}

.play-button{
    width: 31% !important;
    height: 26% !important;
    position: absolute;
    top: 25%;
    left: 39%;
    border-radius: 0 !important;
}

/* Aside Section  */

.aside-1{
    padding: 0 3% 3% 3%;
    display: inline-block;
    width: 73%;
    margin-top: 8rem;
}

.aside-2{
    padding: 2% 3% 8% 0.5%;
    display: inline-block;
    width: 27%;
    overflow: scroll;
    position: fixed;
    right: 0;
    height: 100%;
    top: 70px;
}

/* Navigation Bar */

.nav-bar{
    background-color: var(--body-color);
    position: fixed;
    width: 100%;
    z-index: 30;
    padding-right: 1%;
    padding-top: 0.5%;
    background-image: url('../images/Main/background-i.jpg');
    background-blend-mode: overlay;
}


.header-logo{
    width: 80px;
    height: 80px;
    margin-left: 15%;
}

.nav-bar-1{
    width: 50%;
}

.heading-name{
    margin-left: 2rem;
    font-size: 1.5rem;
    color: var(--white-color);
    line-height: 0.9rem;
}


.favourites{
    padding-left: 10vw;
    font-size: 1.1rem;
}

.favourites:hover{
    color: cyan;
    cursor: pointer;
}

/* Navigation bar- second section */

.nav-bar-2{
    width: 50%;
    color: var(--white-color);
    justify-content: flex-end;
    gap: 2.5rem
}

.search-bar{
    background-color: #0b1446;
    border-radius: 50%;
}

.search-bar button{
    background-color: #0b1446;
    color: darkgrey;
    height: 2.5rem;
    border: none;
    padding: 0 0.7rem;
}

.search-bar button i:hover{
    color: cyan;
}

.search-bar input{
    background-color: inherit;
    margin: 0 -0.4rem;
    height: 2.5rem;
    width: 20vw;
    padding: 0;
    color: var(--white-color);
    border: none;
}

.search-icon{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.mic-icon{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.fa-bell{
    font-size: 25px;
}

.fa-bell:hover{
	transform:rotate(300deg);
    color: aquamarine;
}

.profile-image img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}


/* Navigation bar Dropdown */

.nav-selections{
    display: none;
}

.nav-selections i{
    font-size: 1.8rem;
}

.nav-selections li{
    list-style-type: none;
    background-color: cyan;
    color: black;
    padding: 0.7rem 2rem 1rem 0.7rem;
}

.nav-queue{
    position: absolute;
    right: 0.6rem;
    cursor: pointer;
    display: none;
}

.nav-selections:hover .nav-queue{
    display: block;
    overflow: visible;
}

.nav-queue li:hover{
    background-color: #429bc4;
}


/* Carousel Section */

.carousel-container{
    justify-content: space-evenly;
}

.carousel-image img{
    width:100%; 
    height: 100%;
}

.carousel-image{
    transition: all 0.8s ease-in-out;
    margin: 0.5%;
}

.carousel-image:hover{
    transform:scale(1.2);
    z-index: 2;
}

/* Latest Release */

#latest-release-container{
    flex-wrap: wrap;
    justify-content: space-between;
}


.releases-image{
    width: 6rem;
}

.latest-releases-div{
    display: inline-flex;
    position: relative;
    width: 45%;
    min-width: 20rem;
    margin-bottom: 1.1rem;
}

.latest-releases-div .lr-selections{
    position: absolute;
    top: 10%;
    right: 5%;
    text-align: right;
}

.latest-releases-details{
    display: inline-block;
    padding: 20px;
}

.latest-releases-details h3, .latest-releases-details p{
    margin: 5px;
}

.latest-releases-details h3{
    font-size: 1rem;
}

.latest-releases-details p{
    font-size: 0.8rem;
}

.latest-releases-div .play-but-div{
    height: 8rem;
    width: 6rem;
    cursor: pointer;
}

.lr-selections{
    text-align: center;
    color: var(--white-color);
}

.lr-selections p{
    font-size: 0.75rem;
    margin-top: 0.3rem;
}

.lr-selections ul{
    display: none;
    background-color: #2dd2d2;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-top: -4%;
    list-style-type: none;
}

.lr-selections li{
    color: black;
    margin-top: 1%;
    padding: 0.1rem 0.6rem 0.2rem 0.4rem;
}

.lr-selections:hover .lr-list{
    display:block;
}

.lr-list li:hover{
    background-color: #429bc4;
}

.lr-selections:hover p{
    display:none;
}

/* Popular Artists */

.popular-artist-container{
    justify-content: space-between;
    flex-wrap: wrap;
}

.artist-image{
    width: 9rem;
    border-radius: 50%;
    height: 9rem;
}

.popular-artist-div:hover .artist-image{
    box-shadow: 1px 1px 5px 2px lightgray;
}

.popular-artist-div{
    position: relative;
}

.popular-artist-div p{
    text-align: center;
    margin-top: 0.9rem;
}

/* Music Station  */

.music-container{
    justify-content: space-evenly;
    background-color: #152068;
    padding: 1rem 0.5rem 0;
    
}

.music-container-div{
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.music-stations{
    position: relative;
    width: 8rem;
    padding: 0 0.5rem;
    margin-bottom: -0.5rem;
}

.music-stations img{
    width: 100%;
    border-radius: 50%;
    opacity: 0.7;
    height: 6.5rem;
}

.music-stations img:hover{
    box-shadow: 1px 1px 5px 2px lightgray;
}

.music-stations p{
    display:inline;
    position: relative;
    top: -52%;
    font-size: 1.3rem;
    font-weight: bolder;
    letter-spacing: 0.05rem;
    background-color: rgb(66 62 62 / 50%);
}

/* Music Station Logo */

#music-logo{
    min-width: 120px;
    max-height: 80px;
    position: relative;
    padding: 1.9rem 0 0.5rem 0.5rem;
}

#layer1{
    width: 100%;
    height: 50px;
    background-color: yellow;
    position: absolute;
}

#layer2{
    width: 80%;
    height: 80px;
    background-color: yellow;
    position: absolute;
}

#layer3{
    width: 67%;
    height: 100px;
    background-color: #ff5c00;
    position: absolute;
}

#layer3 p{
    text-align: center;
    color: var(--white-color);
    margin: 1.8rem 0 1.8rem 0;
    text-shadow: 2px 2px black;
}


/* Readymade Playlists */

#playlist-sections{
    display: flex;
    flex-wrap: wrap;
}

.playlist-items{
    position: relative;
    width: 19rem;
    margin: 1%;
    text-align: center;
    overflow: hidden;
}

.playlist-items img{
    width: 100%;
    opacity: 0.7;
    height: 12rem;
}

.playlist-items img:hover{
    transform:scale(1.5);
}

.playlist-items p{
    position: relative;
    z-index: 12;
    color: rgb(245, 245, 245);
    bottom: 45%;
    display: block;
    font-size: 1.4rem;
    font-weight: bolder;
    background-color: rgb(0 0 0 / 50%);
    margin: 0;
    margin-top: -10%;
}

/* Latest Songs */

.latest-songs-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.latest-songs-div img{
    width: 9rem;
    height: 9rem;
}

.latest-songs-div figure {
    margin: 9px;
    position: relative;
}

.song-details p{
    margin: 0.3rem 0 0 0;
    font-size: 0.9rem;
}

.latest-songs-div figure:hover{
    box-shadow: 1px 1px 5px 2px cyan;
}


/* Aside Section  */

/* Queue Dropdown */

.playlist-container{
    justify-content: space-between;
    margin: 1rem 0;
}

.playlist-container select{
    background-color: black;
    border: none;
}

/* Queue/Playlist Items */

.queue-items{
    display: flex;
    position: relative;
    padding: 5% 0 3% 1.5%;
}

.queue-items i{
    position: absolute;
    top: 30%;
    right: 4%;  
    color: var(--white-color);  
}

.queue-song-details p{
    margin: 0.25rem 0 0.25rem 0.8rem;
}

.queue-poster img{
    width: 50px;
    margin-left: 0.5rem;
    height: 50px;
}


.queue-song-name{
    font-weight: bold;
    font-size: large;
}

.serial-no{
    padding-top: 1rem;
}

.queue-artist-name{
    font-size: 13px;
}

.queue-items:hover{
    background-color: grey;
    opacity: 0.7;
}


/* Footer - Audio section  */

.main-player{
    background-color: #070533;
    width: 60%;
    position: fixed;
    bottom: 1px;
    left: 18vw;
    height: 3rem;
    border-radius: 2rem;
    box-shadow: 1px 1px 5px 1px #b2adad;
}

.player-left img{
    width: 2.5rem;
    height: 2.5rem;
}

.player-left{
    margin-right: 4rem;
    position: absolute;
    left: 3vw;
}

.player-left i{
    position: relative;
    left: 0.7rem;
    top: 0.7rem;
}

.main-song{
    margin-left: 1rem;
    padding-top: 0.4rem;
}

.mp-song-name{
    font-size: 13px;
}

.mp-song-band{
    font-size: 11px;
    color: darkgrey;
}

audio{
    width: 29vw;
    height: 2.5rem;
    vertical-align: middle;
}

.player-center{
    position: relative;
    left: 6vw;
}

.player-right{
    position: relative;
    right: -6.5vw;
}

.player-right i{
    margin: 0 1rem;
    font-size: 18px;
}


